body {
    background-color: #f3f9ff;
    margin: 0;
}

.page-content {
    margin: 10px 15px;
}

.primary-btn.k-button {
    background-color: #3f8cd6 !important;
    color: #ffffff !important;
    background-image: none !important;
    border-radius: 5px !important;
    padding: 8px;
}

a {
    text-decoration: none;
}